@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .logo-style{
    padding: .3rem;
    margin-left:.1rem;
    margin-right:.1rem;
    background-color: red;
    color:white;
    border-radius: 6vh;
  }

  .catagories-bar {
      position: relative;
      background-color: #060b26;
      scroll-behavior: smooth;
      padding-right: 1rem;
      border-radius: 0 3px 3px  0;
       height: 4rem;
      display: flex;
      justify-content: start;
      align-items: center;
  }

  .catagories-desc{
      color: #fff;
      margin-left: 1rem;
      margin-top: -.9vh;
  }
  
  .display-catagories{
    padding: 1rem;
    height: 58px;
    display: flex;
    color: #212a57;
    align-items: center;
    cursor: pointer;
    font-family: 'Yusei Magic', sans-serif; 
  }

  .display-catagories:hover {
    background-color: #212a57;
    color: white;
  }

  .menu-bars {
    margin-top: 3px;
    margin-left: 2rem;
    font-size: 1.5rem;
    background: none;
    color: #000;
  }
  
  .nav-menu {
    overflow: scroll;
    background-color: #060b26;
    width: 350px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  /* span {
    margin-left: 16px;
  } */

@media screen and (max-width: 475px) {
  /* .navbar {
    height: 8vh;
    padding-bottom: -1rem;
  } */
  .catagories-bar {
    /* margin-top: -5vh; */
    height: 46px ;
  }    
}  

  
@media screen and (max-width: 768px) {
  .display-catagories {
    display: none;
  }
}