.footer_parent {
  background-color: #060b26;
  opacity: 1;
  /* width: 80%;
    margin: auto; */
    /* display: none; */
}

.footer_parent2 {
  display: flex;
  justify-items: center;
}

.footer_child2 {
  margin: 1rem;
  color: azure;
  align-items: center;
  flex-basis: 100%;
  text-align: left;
}

.footer_parent1 {
  padding: 3rem;
  display: flex;
  justify-items: center;
}

.footer_child1 {
  margin: 1rem;
  color: azure;

  align-items: center;
  flex-basis: 100%;
  text-align: left;
}

.contact-desc p {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.footer_child1_heading {
  font-weight: bold;
}

.footer-product {
  color: white;
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.footer-btn {
  width: 80%;
  display: flex;
  align-items: center;
  align-content: center;
}

#footer-btnSubmit {
  flex-basis: 1;
  border-radius: 0;
  height: 41px;
  width: 112px;

  color: white;
  background-color: #424242;
  opacity: 1;
  border: none;
}

#footer-btnInput {
  flex-grow: 2;
  height: 40px;
}

.footer_child1 p {
  margin-top: 10px;
}

.responsive-footer {
    display: none;
}

@media screen and (max-width: 460px) {
    .responsive-footer {
        display: block;
        background-color: #060b26;
        color: white;
        text-align: center;
        padding-top: 2vh;
        /* height: 10rem; */
        /* padding-bottom: 2vh; */
    }

    .contact-heading {
      margin-top: 3vh;
      /* background-color: indianred; */
    }

    .copyright-tag {
      padding-bottom: 1.5vh;
    }

    .footer_parent {
      display: none;
    }
}
