.subscribe_parent {
  background:url(../../assets/colors.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.subscribe_child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 50%;
  background-color: #ffffff;
}

.subscribe_child p {
    margin: 2rem;
    text-align:center;
}

.subscribe-btn {
  width: 67%;
  display: flex;
  align-items: center;
  align-content: center;
}

#subscribe-btnSubmit {
  flex-basis: 1;
  border-radius: 0;
  height: 41px;
  width: 112px;

  color: white;
  background-color: #32353c;
  border: none;
}

#subscribe-btnInput {
  flex-grow: 2;
  height: 40px;
}

#subscribe-1stLine {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: -1.1rem;
}

#subscribe-2ndLine {
  font-size: large;
  margin-bottom: 2.8rem;
}

.footer_child1_heading {
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .subscribe_parent {
    height: 70vh;
    width: 100%;
  }

  .subscribe_child {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  #subscribe-1stLine {
    font-size: 1.1rem;
  }

  #subscribe-2ndLine {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: .7rem;
  }

  #subscribe-3ndLine {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: .7rem;
  }

  .subscribe-btn {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #subscribe-btnInput {
    flex-grow: 1;
    height: 95%;
  }

  #subscribe-btnSubmit {
    flex-basis: 1;
    border-radius: 0;
    height: 95%;
    width: 112px;
    margin: .3rem;
    padding: .2rem;
    /* padding-right: .2rem; */
    /* font-size: .7rem; */
    color: white;
    background-color: #32353c;
    border: none;
  }
}